.main {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.25);
  height: max-content;
  min-height: 100vh;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url("../../../assets/pexels-sydney-troxell-708587.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: visible;
}

.main-content {
  width: 60%;
  padding: 40px;
}
